@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Varela+Round&display=swap');

/* link to website for among us info: https://www.shacknews.com/article/120473/how-to-play-among-us */

body{
	background-image: url("amongbackground.jpg");
}

.amongtitle h1{
	text-align: center;
	font-family: 'Amatic SC';
	color: white;
	font-weight: 550;
	font-size: 95px;
}

.amongtitle h3{
	text-align: center;
	font-family: 'Amatic SC';
	color: white;
	font-weight: 450;
	font-size: 35px;
}

.amongtitle h5{
	text-align: center;
	font-family: 'Amatic SC';
	color: white;
	font-weight: 400;
	font-size: 26px;
	padding: 25px;
}

.amongtitle p{
	position: absolute;
	left: 60px;
	font-family: 'Amatic SC';
	color: white;
	font-weight: 400;
	font-size: 40px;
	padding: 60px;
}

.amongtitle h6{
	position: absolute;
	right: 250px;
	font-family: 'Amatic SC';
	color: gray;
	font-weight: 400;
	font-size: 21px;
	padding: 5px;
	margin: -15px;
}

#clicktext{
	font-family: 'Amatic SC';
	color: gray;
	font-weight: 400;
	font-size: 21px;
	position: absolute;
  	bottom: -420px;
  	left: 90px;
}

#howtext{
	font-family: 'Amatic SC';
	color: white;
	font-weight: 400;
	font-size: 40px;
	position: absolute;
  	bottom: -420px;
  	left: 750px;
}

.amongtitle ul{
	position: absolute;
	left: 60px;
	font-family: 'Amatic SC';
	color: white;
	font-weight: 400;
	font-size: 25px;
	padding: 125px;
	display: none;
}

#texttoggle2{
	position: absolute;
	bottom: -780px;
	left: 720px;
	font-family: 'Amatic SC';
	color: white;
	font-weight: 400;
	font-size: 25px;
	padding: 125px;
	display: none;
}

#blackamong{
	width: 180px;
	height: 180px;
	position: absolute;
	right: 15%;
	display: none;
}

#brownamong{
	width: 180px;
	height: 180px;
	position: absolute;
	left: 15%;
	display: none;
}

#crewmatescreen{
	width: 700px;
	height: 416px;
	position: absolute;
	left: 600px;
	padding: 20px;
}

#imposterscreen{
	width: 700px;
	height: 416px;
	position: absolute;
  	bottom: -850px;
  	left: 16px;
}
