/* home page */
.body1{
	background:aliceblue;
}

.bodyclass{
	padding-left:1%;
}
/* page 1 */

/* created among style.css */

/* page 2 */


/* page 3 */
.center {
 	text-align: center;
 	padding-right:30%;
 	padding-left:30%;
 }
.body{
	background: lightskyblue;
	font-family: "Comic Sans MS";
	padding: 10px;
	font-size:20px;
	
}
.textBackground{
	
	text-align: center;
}
.spring{
	display:none;
	background:mediumseagreen;
	font-size: 20px;
	margin: 5px;
}
.column{
	float:left;
	padding:10px;
}
.left, .right{
	width: 25%;
}
.middle{
	width: 50%;
}
.row:after{
	content: "";
  	display: table;
  	clear: both;
}
.justify{
	text-align: justify;
}
.biggerFont{
	font-size: 150%;
}
.imgCal{
	width: 100%;
	display:none;
}
.summer{
	display:none;
	background:khaki;
	font-size: 20px;
	margin: 5px;
}
.fall{
	display:none;
	background:lightsalmon;
	font-size: 20px;
	margin: 5px;
}
.winter{
	display:none;
	background:cornflowerblue;
	font-size: 20px;
	margin: 5px;
}
