/* home page */

/* page 1 */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Varela+Round&display=swap');

.amongbackimg{
	background-image: url("amongbackground.jpg");
}

.amongtitle{
	text-align: center;
	font-family: 'Amatic SC';
	font-size: 50%;
}

#blackamong{
	width: 180px;
	height: 180px;
	position: absolute;
	right: 15%;
}

#brownamong{
	width: 180px;
	height: 180px;
	position: absolute;
	left: 15%;
}


/* page 2 */

/* page 3 */
.center {
 	text-align: center;
 	padding-right:30%;
 	padding-left:30%;
 }
.body{
	background: lightskyblue;
	
}
.textBackground{
	background-color: cornflowerblue;
}
.spring{
	background:mediumseagreen;
	font-size: 20px;
	margin: 5px;
}
.column{
	float:left;
	padding:10px;
}
.left, .right{
	width: 25%;
}
.middle{
	width: 50%;
}
